:root {
    --grey-background: #CBCECB
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;

    header {
        background-color: var(--grey-background);

        nav {
            background-color: #acd4e0;

            ul {
                list-style: none;

                li {
                    display: inline-block;
                    width: 200px;
                    padding-right: 30px;

                    a {
                        color: #511985;
                        font-weight: bold;
                    }
                }
            }
        }

        h1 {
            text-align: center;
            font-style: italic;
            font-family: Calibri, sans-serif;
            color: #243ccb;
        }
    }

    main {
        background-color: #f6f6f6;
        font-size: 90%;
        p {
            line-height: 120%;
        }
    }

    footer {
        background-color: var(--grey-background);
        font-weight: bold;
        font-size: 80%;
    }
}

